$color-primario: #FFFFFF;
$color-primarioDos: #F8FAFB;
$color-secundario: #FD794F;
$color-letras: #131313;
$degrade: conic-gradient(from 138.14deg at 39.9% 42.97%, #FF5F2C -73.13deg, #FF845C 55.79deg, #E4592D 200.63deg, #FF5F2C 286.87deg, #FF845C 415.79deg);