$color-primario: #FFFFFF;
$color-primarioDos: #F8FAFB;
$color-secundario: #036635;
$color-letras: #131313;
$degrade: conic-gradient(from 138.14deg at 39.9% 42.97%, #036635 -73.13deg, #0eb762 55.79deg, #036635 200.63deg, #036635 286.87deg, #036635 415.79deg);