@font-face {
    font-family: "fuente1";
    src: url(../assets/fonts/sf-compact-display-medium.otf);
}
@font-face {
    font-family: "fuente2";
    src: url(../assets/fonts/sf-compact-display-thin.otf);
}

$fuente: 'Century Gothic';

$fuenteTitulos:(
    fuente: $fuente,
    grosor: 700,
    grosor2: 107px,
);
$fuenteSubtitulos:(
    fuente: $fuente,
    grosor: 400,
    grosor2: 27px,
);
