*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "_scroll";
@import "_color";
@import "_fonts";
@import "_main";
@import "_grillas";
@import "_botones";
@import "_tarjetas";
@import "_footer";
@import "_catalogo";
@import "_mobile";

